
.textareacomments{
  padding-bottom: 300px;
}

body{
  background-color: seashell;
}

div{
  line-height: 1.45em;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
  padding: 2px;
}


/* Style main content */
.site-name{
  float: left;
  padding-left: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1em;
}


.main-container {
  margin-top: 5em;
  text-align: center;
  height: 500px;
  border-bottom: thick double darkgrey;

}

.secondary-container{
  border-bottom: thick double darkgrey;
  /*Add space between the boarder and its inside elements. */
  padding: 10px;
  padding-left: 260px;
  height: 450px;
}

.third-container{
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-bottom: thick double darkgrey;
  /*Add space between the boarder and its inside elements. */
  padding: 20px;
}

.fourth-container{
  font-size: 16px;
  border-bottom: thick double darkgrey;
  /*Add space between the boarder and its inside elements. */
  height: 620px;
  padding: 10px;
}

.fifth-container{
  border-bottom: thick double darkgrey;
  /*Add space between the boarder and its inside elements. */
  height: 450px;
  padding: 15px;
}

table{
    font-family:  'Oswald', sans-serif;
    font-weight: 700;
    padding: 10px;
}

p{
    font-family:  'Oswald', sans-serif;
}


/* Set your header design: */
header {
    position: fixed;
    top: 0px;
    background-color: #f08080;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: right;
}

/* Set the layout of the menu: */
.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    letter-spacing: 0.2em;
    background-color: #f08080;
    padding: 0.5em 1em;
}

/* Style the links: */
.menu-item a {
    color: seashell;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

/* Add a dropdown feature: */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 0.5em 0 0 -2em;
    color: #f08080;
    background-color: seashell;
    z-index: 1;
}

.dropdown-content a {
    color: #f08080;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style dropdown item display: */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: pink;
    background-color: seashell;
}

.dropdown-item:hover a {
  text-decoration: underline;
}

.logoimage{
    margin: auto;
    content:url("../images/logo.png");

}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .logoimage{
        margin: auto;
        content:url("../images/logo-small.png");
    }
}
.mainimage{
    float: left;
    content:url("../images/nbr1.jpeg");

}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .mainimage{
        float: left;
        content:url("../images/nbr1-small.jpeg");
    }
}

.secondimage{
    float: left;
    content:url("../images/nbr2.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .secondimage{
        float: left;
        content:url("../images/nbr2-small.jpeg");
    }
}

.thirdimage{
    float: left;
    content:url("../images/nbr3.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .thirdimage{
        float: left;
        content:url("../images/nbr3-small.jpeg");
    }
}

.fourthimage{
    margin: auto;
    content:url("../images/shenna.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fourthimage{
        margin: auto;
        content:url("../images/shenna-small.jpeg");
    }
}

.fifthimage{
    margin: auto;
    content:url("../images/contact.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .fifthimage{
        margin: auto;
        content:url("../images/contact-small.jpeg");
    }
}
.sixthimage{
    margin:auto;
    content:url("../images/services.jpeg");
}

/* For width 600px and larger: */
@media only screen and (min-width: 600px) {
    .sixthimage{
        margin: auto;
        content:url("../images/services-small.jpeg");
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    margin: auto;
    padding: 20px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.contactus{
    font-family: 'Oswald', sans-serif;
    width:50%;
    margin-left: 40%;

}
